<template>
<div id="wrapper">
    <div class="overlay"></div>

    <header>
        <navigation></navigation>
        <div  class="container">
            <div class="col-sm-12 header-curencies">
                <span v-for="ticker in tickers"
                    v-bind:class="{ 'green-row': ticker['ONE_DAY_PERC']>0, 'red-row': ticker['ONE_DAY_PERC']<0 }"
                >
                    <span>{{ symbols[ticker['SYMBOL']] }}: </span><span>{{ ticker['LAST'] }}</span>&nbsp;&nbsp;
                </span>
            </div>
        </div>
    </header>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>

</div>
</template>


<script>
import navigation from '../views/navigation.vue'
import store from './coins/store.js'
import auth from '../auth.js';


export default {
    data() {
        return {
            interval: null
        }
    },
    computed: {
        tickers() {
            return store.getters.tickers;
        },
        symbols() {
            return store.getters.symbols
        }
    },
    components: {
        navigation
    },
    mounted() {
        store.dispatch("fetchBitfinex")

        this.interval = setInterval(function(){
            store.dispatch("fetchBitfinex")
        }, 5000);

    },
    beforeRouteEnter (to, from, next) {
        auth.check().then(function(response) {
            if(!auth.user.authenticated) {
                next({ path: '/signin' })
            }
            else {
                next()
            }
        });
    },
    beforeDestroy: function() {
        clearInterval(this.interval)
    }
}
</script>
