<template>
    <div>
        <send-form></send-form>
    </div>
</template>


<script>
import SendForm from './coins/SendForm.vue'
import auth from '../auth.js';
export default {
    data() {
        return {
            error: false
        }
    },
    components: {
        SendForm: SendForm
    },
    beforeRouteEnter (to, from, next) {
        auth.check().then(function(response) {
            if(!auth.user.authenticated) {
                next({ path: '/signin' })
            }
            else {
                next()
            }
        });
    }
}
</script>
