<template>
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav" v-on:click="navClick">
        <li class="sidebar-brand">
            <router-link :to="{ name: 'home' }">Crypto Bank</router-link>
        </li>
        <li>
            <router-link :to="{ name: 'home' }">Home</router-link>
        </li>
        <li>
            <router-link :to="{ name: 'transactions' }">Transactions</router-link>
        </li>
        <li>
            <router-link :to="{ name: 'contacts' }">Contacts</router-link>
        </li>
        <li>
            <router-link :to="{ name: 'settings' }">Settings</router-link>
        </li>
    </ul>
</nav>
</template>


<script>
export default {
    data() {
        return {
            trigger :  $('.hamburger'),
            overlay : $('.overlay'),
            isClosed : false
        }
    },
    components: {

    },
    mounted() {

        this.trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {
            if (this.isClosed == true) {
                this.overlay.hide();
                this.trigger.removeClass('is-open');
                this.trigger.addClass('is-closed');
                this.isClosed = false;
            } else {
                this.overlay.show();
                this.trigger.removeClass('is-closed');
                this.trigger.addClass('is-open');
                this.isClosed = true;
            }
        }


        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });
    },
    methods: {
        navClick() {
            $('#wrapper').toggleClass('toggled');

        }
    },
}
</script>
