<template>
    <div class="list-group">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>


<script>
export default {
    data() {
        return {

        }
    },
    computed: {

    },
    ready() {

    },
    mounted() {

    },
    beforeRouteEnter (to, from, next) {
        auth.check().then(function(response) {
            if(!auth.user.authenticated) {
                next({ path: '/signin' })
            }
            else {
                next()
            }
        });
    }
}
</script>
