// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/css/font-awesome";


@import "navigation";

body {
    font-family: 'Roboto', sans-serif;
    color: #7b7878;
    background-color: #121212;
}

.table-bordered {
    font-size: 10px;

    tr {
        td, th {
            border: 1px solid #777 !important;
        }
    }
}

.red-row {
    color: #ef6565;
}
.green-row {
    color: #38c338;
}


.header-curencies {
    padding: 15px 0 0px 40px;
}
