<template>
    <div class="list-group">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th v-for="field in fields">{{ field }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ticker in tickers">
                    <td v-for="field in fields"
                        v-if="field !== 'ONE_DAY_PERC'"
                        v-bind:class="{ 'green-row': ticker['ONE_DAY_PERC']>0, 'red-row': ticker['ONE_DAY_PERC']<0 }"
                    >
                        <span v-if="field !== 'SYMBOL'">
                            {{ ticker[field] }}
                        </span>
                        <span v-else="">
                            {{ symbols[ticker[field]] }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>


<script>
import store from './store'
export default {
    data() {
        return {
            error: false,
            interval: null
        }
    },
    computed: {
        tickers() {
            return store.getters.tickers;
        },
        fields() {
            return store.getters.fields
        },
        symbols() {
            return store.getters.symbols
        }
    },
    beforeRouteEnter (to, from, next) {
        next()
    },
    beforeDestroy: function() {
        clearInterval(this.interval)
    }
}
</script>
