<template>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Send To</label>
                <input v-model="send_to" type="text" class="form-control" placeholder="Send To">
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Quantity</label>
                <input v-model="quantity" type="text" class="form-control" placeholder="Quantity">
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Fees</label>
                <input v-model="fees" type="text" class="form-control" placeholder="Fees">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <button class="form-control btn btn-primary" style="margin-top: 27px;">Send</button>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            send_to : '',
            quantity: 0,
            fees: 0.0001
        }
    },
    computed: {

    },
    ready() {

    },
    mounted() {
        var _this = this;


        var calculate = function() {
            var qb = _this.quantity*_this.buy_price;
            var qs = _this.quantity*_this.sell_price;

            _this.result = (qs-qb)-(((qs-qb)/100)*_this.fees);
        }
        calculate();

        $('input').on('keyup', function() {
            calculate();
        })
    }

}
</script>
