<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Your Email</label>
                <input v-model="email" type="text" class="form-control" placeholder="Your Email">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Password</label>
                <input v-model="current_password" type="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>New Password</label>
                <input v-model="new_password" type="password" class="form-control" placeholder="New Password">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <button class="form-control btn btn-primary" style="margin-top: 27px;">Save</button>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            email : '',
            current_password: '',
            new_password: ''
        }
    },
    beforeRouteEnter (to, from, next) {
        auth.check().then(function(response) {
            if(!auth.user.authenticated) {
                next({ path: '/signin' })
            }
            else {
                next()
            }
        });
    }
}
</script>
